pipeline/BlobToServiceBus.json
{
	"name": "BlobToServiceBus",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "BooksJsonLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-01.ukwest.logic.azure.com:443/workflows/3881612def904b72922fd8fb78cf7c9c/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ydjPm72C54W023XYo-d9MNKVSP-IJHlBSoLWiO5LyMg",
					"method": "POST",
					"headers": {
						"CustomHeader-Version": "1.0",
						"Content-Type": "application/json"
					},
					"body": {
						"value": "@activity('BooksJsonLookup').output.value",
						"type": "Expression"
					},
					"linkedServices": [
						{
							"referenceName": "AzureBlobStorageForADF",
							"type": "LinkedServiceReference"
						}
					],
					"datasets": [
						{
							"referenceName": "DS_JSONBooks",
							"type": "DatasetReference"
						}
					]
				}
			},
			{
				"name": "Copy csv to json_copy1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_CSVBooks",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_JSONBooks",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "BooksJsonLookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy csv to json_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_JSONBooks",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "ServiceBus"
		},
		"annotations": []
	}
}